.entry-badge {
  word-break: break-word;

  & + & {
    border-top: 1px solid rgba(0, 0, 0, .12);

    @media (--md-viewport) {
      border-top: 0;
    }
  }

  &__figure {
    position: relative;

    display: block;
    margin: 0;

    text-align: center;

    background-color: #f2f2f2;

    &:before {
      display: block;
      padding-bottom: 52.5%;

      content: "";
    }
  }

  &__text-wrapper {
    padding-top: 22px;
  }

  &__link-wrap {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    color: var(--color-font);
    text-decoration: none;

    padding: 1rem;
    border: 2px dashed transparent;
    border-radius: .3rem;
    margin: 0 -.4rem;

    &:hover {
      background-color: rgba(0, 0, 0, .03);
      transition: none;
    }

    &:active {
      background-color: var(--color-blog-blue-opacity);
      border-color: var(--color-blog-blue);
    }

    @media (--md-viewport) {
      margin: 0;
    }

    @media (--lg-viewport) {

    }
  }

  &__title {
    margin-top: 6px;
    margin-bottom: 8px;

    font-weight: 800;
    font-size: 19px;
    text-decoration: none;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;

    vertical-align: top;

    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  &__category {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
