:root {
  // link
  --color-link: hsla(210, 74%, 41%, 1);
  // blockquote
  --color-blockquote: hsla(212, 8%, 45%, 1);
  --color-border-blockquote: hsla(210, 10%, 89%, 1);
}

.markdown {
  $self: &;

  &__link {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
      color: var(--color-link);
      text-decoration: underline;
    }
  }

  &__paragraph {

  }

  &__h1 {
    margin: 0;
    padding-top: 12px;

    font-weight: bold;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-style: normal;
  }

  &__h2 {
    margin: 48px 0 0 0;

    font-weight: bold;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-style: normal;
  }

  &__h3 {
    margin: 48px 0 0 0;

    font-weight: bold;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-style: normal;
  }

  &__h4 {

  }

  &__inline-code {
    padding: .2rem .3rem;

    color: inherit;
    font-size: 75%;
    background-color: #fff6ea;
    border-radius: .2rem;
  }

  &__blockquote {
    margin: 0;
    padding: 8px 12px;

    color: var(--color-blockquote);

    border-left: 2px solid var(--color-border-blockquote);

    #{ $self }__paragraph {
      margin: 0;
    }
  }

  &__table {

  }

  &__thead {

    #{ $self }__trow {

    }

    #{ $self }__tcell {
      background-color: #f2f2f2;
      border-bottom: solid 2px #ccc;
    }
  }

  &__tcell {
    border: 1px solid #dfdfdf;
    padding: 10px 16px;
  }

}

