.b-sidebar-link {
  display: block;
  padding: 8px 12px;

  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: #fff;

    background-color: var(--color-ddark);
  }

  &.is-selected {
    background-color: var(--color-ddark);
  }
}