@import "../../../shared/css/helpers/mixins/link-default-home-navigation-top-bar";

.home-navigation {
  position: relative;

  display: flex;
  height: 50px;
  margin: 0 calc(-1 * var(--sm-padding));
  overflow: hidden;

  @media (--md-viewport) {
    margin: 0 calc(-1 * var(--md-padding));
  }

  @media (--lg-viewport) {
    margin: 0 calc(-1 * var(--lg-padding));
  }

  &__links {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: auto;

    &:before,
    &:after {
      position: absolute;
      top: 0;

      display: block;
      width: 15px;
      height: 100%;

      box-shadow: 0 0 30px 15px #fff;

      content: "";
    }

    &:before {
      left: -15px;
    }

    &:after {
      right: -15px;
    }

  }

  &__nav-item {
    @include link-default-home-navigation-top-bar;
  }

}
