$searh-placeholder-color: #ccc;

.home-navigation-search-form {
  $input: ".input-form-row";
  position: relative;

  transition: max-width ease .5s;

  @media (--md-viewport) {
    width: 600px;
    margin: 0 auto;
  }

  @media (--lg-viewport) {
    max-width: 700px;
  }

  &__form {

  }

  &__search-input {

    #{ $input }__input {
      color: #2d2d2d;
      font-size: 2.3rem;
      text-align: center;

      &::-webkit-input-placeholder {
        color: $searh-placeholder-color;
      }

      &:-ms-input-placeholder {
        color: $searh-placeholder-color;
      }

      &::placeholder {
        color: $searh-placeholder-color;
      }
    }
  }

  &__input-border {

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 2px;

    background-color: #8e8e8e;

    transition: margin ease .5s, background-color ease .5s;

    &_is-focused {
      margin: 0 -10px;

      background-color: #2d2d2d;

      @media (--md-viewport) {
        margin: 0 -20px
      }

      @media (--lg-viewport) {
        margin: 0 -20px
      }
    }
  }

  &__input-loader {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 2px;

    background: linear-gradient(270deg, rgba(252, 241, 178, 1), rgba(247, 221, 199, 1), rgba(244, 195, 195, 1), rgba(235, 194, 237, 1), rgba(193, 204, 249, 1), rgba(203, 247, 230, 1), rgba(232, 252, 197, 1));
    background-size: 50%;

    opacity: 0;

    transition: opacity ease .5s, margin ease .5s;

    -webkit-animation: InputLoaderAnimation 1s ease-out infinite;
    -moz-animation: InputLoaderAnimation 1s ease-out infinite;
    animation: InputLoaderAnimation 1s ease-out infinite;

    &_is-loading {
      opacity: 1;
    }

    &_is-focused {
      margin: 0 -10px;

      @media (--md-viewport) {
        margin: 0 -20px
      }

      @media (--lg-viewport) {
        margin: 0 -20px
      }
    }
  }

}


@-webkit-keyframes InputLoaderAnimation {

  0% {
    background-position: 0% 0%
  }

  100% {
    background-position: 100% 0%
  }
}

@-moz-keyframes InputLoaderAnimation {

  0% {
    background-position: 0% 0%
  }

  100% {
    background-position: 100% 0%
  }
}

@keyframes InputLoaderAnimation {

  0% {
    background-position: 0% 0%
  }

  100% {
    background-position: 100% 0%
  }
}
