@import "../../../shared/css/helpers/mixins/link-default-home-navigation-footer";

.footer {
  margin-top: 4rem;
  padding: 32px 0;

  background-color: var(--footer-bg);
  box-shadow: 0 1px 1px rgba(10, 10, 10, .1), 0 1px 2px rgba(10, 10, 10, .1), 0 0 1px rgba(10, 10, 10, .8);


  @media (--md-viewport) {
    padding: 60px 0;
  }

  @media (--lg-viewport) {
    padding: 60px 0;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--sm-padding);

    @media (--md-viewport) {
      flex-flow: row nowrap;
      padding: 0 var(--md-padding);
      justify-content: space-between;
      align-items: flex-end;
    }

    @media (--lg-viewport) {
      padding: 0 var(--lg-padding);
    }
  }

  &__logo {
    $logo: ".logo";
    fill: #4c4c4c;
    display: flex;
    justify-content: center;

    #{ $logo }__letter {
      fill: #4c4c4c;
    }

    #{ $logo }__rect {
      stroke: #4c4c4c;
    }

    @media (--md-viewport) {
      justify-content: flex-start;
      margin-bottom: .4rem;
    }
  }

  &__links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 2rem;

    @media (--md-viewport) {
      align-items: flex-start;
      margin-bottom: 0;
    }

    @media (--lg-viewport) {

    }
  }

  &__nav-item {
    @include link-default-home-navigation-footer;
  }

}
