.l-home {
  max-width: var(--max-width);
  padding: 0 var(--sm-padding);
  min-height: 100vh;
  margin: 0 auto;

  @media (--md-viewport) {
    padding: 0 var(--md-padding);
  }

  @media (--lg-viewport) {
    padding: 0 var(--lg-padding);
  }
}

// для примера, после теста удалить
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
