.all-articles-admin-page {

  h1 {
    margin-bottom: 0;
  }

  &__top-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__list {

    &_is-load {
      opacity: .5;
    }
  }
}
