@import "../../../shared/css/helpers/mixins/input-default-form-row";

@import "../../../shared/css/helpers/mixins/button-default-form-row";

.signin {
  width: 340px;
  height: auto;
  margin: auto;
  padding: 32px;

  background-color: #fff;
  border-radius: var(--border-form-element-border-radius);

  &__title {
    text-align: center;
  }

  &__status-text {

    &.success {
      color: var(--color-admin-primary);
    }

    &.error {
      color: var(--color-error);
    }
  }

  &__input-row {
    @include input-default-form-row;
  }

  &__input-row + &__input-row {
    margin-top: 1.15rem;
  }

  &__box-button {
    margin-top: 1.72rem;
  }

  &__login-button {
    width: 100%;

    @include button-default-form-row;
  }

  &__switch {
    margin-top: 1rem;

    color: var(--color-text-auth-switch);
    text-align: center;
  }

  &__switch-link {
    color: var(--color-link-auth-switch);

    &:hover {
      text-decoration: underline;
    }
  }
  $default-input: ".input-form-row";
}
