html button {
  cursor: pointer;
}

html .btn,
html a.btn,
html button.btn,
html input.btn,
html label.btn {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  border: 0;
  height: 40px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  min-width: 120px;
  padding: 8px 15px 8px 15px;
  background-color: var(--color-admin-primary);
  cursor: pointer;
  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
  outline: 0;

  &:hover:not([disabled]) {
    background-color: var(--color-admin-lprimary);
    transition: none;
  }

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: .25;
    cursor: not-allowed;
  }

  &.is-small {
    min-width: 80px;
    padding: 1px 15px 2px 15px;
  }

  &.is-bordered {
    border-radius: 100px;
  }

  &.is-bgmoving {
    position: relative;
    background-position: 0 100%;
    transition: background-position ease .5s;
    padding-right: 30px;

    &:hover {
      transition: none;
      background-position: 90% 100%;
    }

    span {
      font-size: 23px;
      position: absolute;
      top: 2px;
      right: 9px;
    }
  }

  &.is-load {

    .btn-loader {
      display: block;
    }

    span {
      display: none;
    }

    &:disabled {
      opacity: 1;
      cursor: default;
    }

    &:active {
      transform: translateY(0px);
    }
  }
}
