.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  overflow: auto;

  &__content-box {

  }

  &__content {

  }

  &__close {
    display: flex;
  }
}
