:root {
  --color-main-bg-tag: hsla(212, 100%, 92%, 1);
  --color-main-text-tag: hsla(212, 100%, 50%, 1);
}

.admin-tag {
  display: inline-block;
  background-color: var(--color-main-bg-tag);
  color: var(--color-main-text-tag);
  border-radius: .2rem;
  padding: 0 .5rem;
  margin: .3rem;
  cursor: pointer;
  &__text {

  }
  &__delete {
    margin-left: .3rem;
    color: #888;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
