.blog-entry-badge {
  word-break: break-word;
  & + & {
    border-top: 1px solid rgba(0, 0, 0, .12);
    @media (--md-viewport) {
      border-top: 0;
    }
  }

  &__text-wrapper {
    padding-top: 22px;
  }
  &__link-wrap {
    border-radius: 2px;
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    height: 100%;
  }
  &__title {
    text-decoration: none;
    font-size: 19px;
    margin-bottom: 8px;
    margin-top: 6px;
    font-weight: 800;
  }

  &__category {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      text-decoration: underline;
    }
  }
}
