//TODO: (@fenricage) уебать сюда форматы woff, woff2, eot, и другие

/*PT Serif*/
@font-face {
  font-weight: normal;
  font-family: "PT Serif";
  font-style: normal;
  src: url("../fonts/PT_Serif/PT_Serif-Web-Regular.ttf");
  src: url("../fonts/PT_Serif/PT_Serif-Web-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "PT Serif";
  font-style: italic;
  src: url("../fonts/PT_Serif/PT_Serif-Web-Italic.ttf");
  src: url("../fonts/PT_Serif/PT_Serif-Web-Italic.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "PT Serif";
  font-style: normal;
  src: url("../fonts/PT_Serif/PT_Serif-Web-Bold.ttf");
  src: url("../fonts/PT_Serif/PT_Serif-Web-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "PT Serif";
  font-style: italic;
  src: url("../fonts/PT_Serif/PT_Serif-Web-BoldItalic.ttf");
  src: url("../fonts/PT_Serif/PT_Serif-Web-BoldItalic.ttf") format("truetype");
}

/*Lora*/
@font-face {
  font-weight: normal;
  font-family: "Lora";
  font-style: normal;
  src: url("../fonts/Lora/Lora-Regular.ttf");
  src: url("../fonts/Lora/Lora-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "Lora";
  font-style: italic;
  src: url("../fonts/Lora/Lora-BoldItalic.ttf");
  src: url("../fonts/Lora/Lora-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-weight: normal;
  font-family: "Lora";
  font-style: italic;
  src: url("../fonts/Lora/Lora-Italic.ttf");
  src: url("../fonts/Lora/Lora-Italic.ttf") format("truetype");
}

@font-face {
  font-weight: bold;
  font-family: "Lora";
  font-style: normal;
  src: url("../fonts/Lora/Lora-Bold.ttf");
  src: url("../fonts/Lora/Lora-Bold.ttf") format("truetype");
}

/*JetBrainsMono*/

@font-face {
  font-weight: 700;
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Bold.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "JetBrains Mono";
  font-style: italic;
  src: url("../fonts/JetBrainsMono/Lora-BoldItalic.ttf");
  src: url("../fonts/JetBrainsMono/Lora-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-weight: 900;
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-weight: 900;
  font-family: "JetBrains Mono";
  font-style: italic;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "JetBrains Mono";
  font-style: italic;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Italic.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Italic.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "JetBrains Mono";
  font-style: italic;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.ttf");
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.ttf") format("truetype");
}
