/** @define header */

.header {

  &__top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 15px 0;

    @media (--lg-viewport) {

    }

    @media (--md-viewport) {
      justify-content: flex-start;
    }
  }

  &__logo {
    margin-top: 12px;
  }
}
