.sidebar-content {
  height: 100vh;

  &__logo {
    padding: 18px 12px;
    cursor: default;

    h2 {
      display: inline-block;
      margin: 0;
      padding: 6px;

      color: #fff;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 6px;
      text-transform: uppercase;

      border: 2px solid #fff;
    }
  }

  &__links {

    a {
      font-weight: 400;
    }
  }
}

