/*** Entry Badge ***/
.admin-attachment-entry-badge {


  &__img {
    width: 100%;
  }
}

.admin-attachment-entry-badge-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(15px);

  &__content-box {
    width: 60%;
    background-color: #fff;
    border-radius: .5rem;
    padding: 2rem;
  }

  &__inner {

  }

  &__close {
    border: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-left: auto;

    > svg {
      width: 100%;
    }
  }

  &__collapse {
    transition: height ease .15s;
  }

  &__collapse-content {

  }
}

/*** Collapse ***/
.admin-attachment-entry-badge-collapse {
  --color-collapse: hsl(0, 0%, 33%);

  &__text {
    display: inline-block;
    padding-bottom: .25rem;
    border-bottom: 1px dashed var(--color-collapse);
    color: var(--color-collapse);
  }

  &__angle {

    margin-left: .5rem;
    transition: all ease .5s;

    > path {
      fill: var(--color-collapse);
    }
  }

  &_is-open {

    .admin-attachment-entry-badge-collapse__text {

    }

    .admin-attachment-entry-badge-collapse__angle {
      transform: rotate(-180deg);
    }
  }
}
