.pagination {
  display: flex;
  margin: 6px 0 24px 0;
  justify-content: center;

  @media (--md-viewport) {

  }

  @media (--lg-viewport) {
    justify-content: flex-start;
  }

  &__container {
    display: flex;
    margin: 0;
    background-color: #f9f9f9;
    overflow: hidden;
  }

  &__previous-page {
    display: none;
  }

  &__previous-link {
    display: block;
    padding: .5rem 1.1rem;
    border: 1px solid #ddd;
    outline: none;
  }

  &__break-page {

  }

  &__break-page + &__page {
    margin-left: -1px;
  }


  &__break-link {
    display: block;
    padding: .5rem 1.1rem;
    border: 1px solid #ddd;
    margin-left: -1px;
    outline: none;
  }

  &__page {

  }

  &__page + &__page {
    margin-left: -1px;
  }

  &__page_active {
    position: relative;
    .pagination__page-link {
      border-color: #1890ff;
      z-index: 1;
      position: relative;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;

      top: 0;
      bottom: 0;
      left: -900px;
      right: -900px;

      pointer-events: none;
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(182,182,182,0) 46%, rgba(255,255,255,0.77) 66%, rgba(255,255,255,1) 100%);
    }
  }

  &__page-link {
    display: block;
    padding: .5rem 1.1rem;
    border: 1px solid #ddd;
    outline: none;
  }

  &__next-page {
    display: none;
    margin-left: -1px;
  }

  &__next-link {
    display: block;
    padding: .5rem 1.1rem;
    border: 1px solid #ddd;
    outline: none;
  }

  &_hidden {
    visibility: hidden;
  }
}

