.item-grid-unit {
  word-break: break-word;

  & + & {
    border-top: 1px solid rgba(0, 0, 0, .12);

    @media (--md-viewport) {
      border-top: 0;
    }
  }

  &__figure {
    display: block;
    margin: 0;

    text-align: center;

    background-color: #ddd;
  }

  &__text-wrapper {
    padding-top: 22px;
  }

  &__link-wrap {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 14px;

    text-decoration: none;

    border-radius: 2px;
  }

  &__title {
    margin-top: 6px;
    margin-bottom: 8px;

    font-weight: 800;
    font-size: 19px;
    text-decoration: none;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    vertical-align: top;
  }

  &__category {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
