@import "../../../shared/css/helpers/functions/shade";

.sidebar-link {
  display: block;
  padding: 8px 12px;
  color: var(--color-font);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    background-color: var(--color-ldark-o);
  }

  &_selected {
    background-color: shade(hsla(0, 0%, 18%, .05), 10%);

    &:hover {
      background-color: shade(hsla(0, 0%, 18%, .05), 10%);
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    line-height: 20px;
  }
}
