.logo {
  color: var(--color-font);

  &__text {
    font-size: 1.8rem;
    font-style: normal;
    font-family: "JetBrains Mono", serif;
    font-weight: 700;
  }
}

//.logo {
//  $self: &;
//  line-height: 1;
//
//  &__letter {
//
//  }
//
//  &__rect {
//
//  }
//
//  &:hover {
//
//    #{ $self }__rect {
//      stroke-width: 3px;
//    }
//  }
//
//}
