:root{
  --color-bg-list-item: hsla(360, 100%, 100%, 1);
  --color-bg-list-item-hover: var(--color-admin-lprimary-o);
}



.list-item {
  border-radius: 3px;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--color-bg-list-item);
  box-shadow: var(--shadow-default);
  overflow: hidden;
  &:hover {
    box-shadow: var(--shadow-hover);
  }
  & + & {
    margin-top: 12px;
  }
  &__link {
    flex: 1;
    padding: 10px;
    text-decoration: none;
    color: var(--color-font);
    &:hover {
      color: inherit;
    }
  }
  &__delete {
    padding: 10px;
    height: 50px;
    width: 50px;
  }
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
