// дефолтный стиль для текстового инпута

@mixin button-default-form-row {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  border: 0;
  height: 44px;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  min-width: 120px;
  padding: 8px 15px 8px 15px;
  background-color: var(--color-admin-primary);
  cursor: pointer;
  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
  outline: 0;
  border-radius: var(--border-button-border-radius);

  &:disabled {
    opacity: .25;
    cursor: not-allowed;
  }

  &:active {
    transform: scale(.99, .99);
  }
}
