// дефолтный стиль для текстового инпута

@mixin button-default-form-row {
  display: inline-block;
  min-width: 120px;
  height: 44px;
  padding: 8px 15px 8px 15px;
  overflow: hidden;

  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  background-color: var(--color-admin-lprimary);
  border: 0;
  border-radius: var(--border-button-border-radius);
  outline: 0;
  cursor: pointer;

  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;

  &:disabled {
    cursor: not-allowed;
    opacity: .25;
  }

  &:active {
    transform: scale(.99, .99);
  }

  &:hover {
    background-color: var(--color-admin-primary);
  }
}
