// наследуется от элемента, см. пример как эти стили применяются от Footer к HomeNav

@mixin link-default-home-navigation-footer {
  $self: ".home-nav-link";
  position: relative;
  color: var(--footer-link-color);
  font-size: 13px;
  text-transform: uppercase;
  transition: padding-left .15s ease-in;

  &:hover {
    padding-left: 16px;

    .star {
      transform: rotate(240deg);
      opacity: 1;
      pointer-events: none;
    }
  }

  .star {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 5.5px;
    transform-origin: center center;
    color: var(--footer-link-color);
    transition: transform .6s ease, opacity .15s ease;
  }

}
